
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <h1 class="m-0 text-dark">Role Manager</h1>
                <hr />
                    <button data-toggle="modal" data-target="#myModal" class="btn btn-success" onclick="ClearScreen();">Create New</button>
                    </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <table id="dataTable" class="table table-responsive-lg">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h4 class="modal-title" id="myModalLabel"></h4>
                        </div>

                        <div class="modal-body">

                            <div class="form-group">
                                <label for="Id" id="Id">Id</label>
                                <input type="text" class="form-control" id="RoleIdText" placeholder="Id" />
                            </div>
                            <div class="form-group">
                                <label for="Name">Name</label>
                                <input type="text" id="RoleNameText" class="form-control" placeholder="Name">
                            </div>
                            <label for="Priority">Priority</label>
                            <select class="select m-b-10" style="width: 100%" id="PriorityNameText" name="Priority">
                                <option>Choose Priority...</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="Save" onclick="Validation();">Submit</button>
                            <button type="button" class="btn btn-primary" id="Update" onclick="Validation();">Update</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/. container-fluid -->
    </section>
</div>

    <link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
    @section Scripts{
        <!-- REQUIRED SCRIPTS -->
        <!-- jQuery -->
        <script src="~/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- overlayScrollbars -->
        <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/js/adminlte.js"></script>
        <!-- OPTIONAL SCRIPTS -->
        <script src="~/js/demo.js"></script>
        <!-- PAGE PLUGINS -->
        <!-- jQuery Mapael -->
        <script src="~/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
        <script src="~/plugins/raphael/raphael.min.js"></script>
        <script src="~/plugins/jquery-mapael/jquery.mapael.min.js"></script>
        <script src="~/plugins/jquery-mapael/maps/usa_states.min.js"></script>
        <!-- ChartJS -->
        <script src="~/plugins/chart.js/Chart.min.js"></script>
        <!-- PAGE SCRIPTS -->
        <script src="~/js/pages/dashboard2.js"></script>
        <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script src="https://kit.fontawesome.com/2248d5bdb1.js" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                debugger;
                $("#dataTable").DataTable({
                    "ajax": {
                        "url": "/Roles/Get",
                        "type": "GET",
                        "dataType": "json"
                        //"data": {
                        //    "token": localStorage.getItem("token")
                        //}
                    },
                    "columns": [
                        { "data": "id" },
                        { "data": "name" },

                        {
                            "render": function (data, type, row, meta) {
                                return "<a class='btn btn-warning' onClick=GetById('" + row.id + "');><i class ='fa fa-pencil'></i></a> &nbsp <a class='btn btn-danger' onClick=Delete('" + row.id + "');><i class='fa fa-trash-alt'></i></a>";
                            }
                        }
                    ]
                });
            });

            function Delete(Id) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        debugger
                        $.ajax({
                            "url": "/Roles/Delete/" + Id,
                            "dataType": "json",
                            "data": { id: Id }
                        }).then((hasil) => {
                            debugger
                            if (hasil.data[0] != 0) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Your data has been deleted',
                                    text: 'Deleted!',
                                    onclose: location.reload()
                                })
                            }
                            else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Your data not deleted',
                                    text: 'Failed!'
                                })
                            }
                        })
                    }
                })
            }

            function ClearScreen() {
                $("#Id").hide();
                $("#RoleIdText").hide();
                $("#RoleNameText").val('');
                $("#Update").hide();
            }
            function Edit() {
                var role = new Object();
                role.id = $("#RoleIdText").disabled;
                role.id = $("#RoleIdText").val();
                role.name = $("#RoleNameText").val();
                role.division_Id = $("#DivisionIdText").val();
                debugger;
                $.ajax({
                    "url": "/Roles/Edit/",
                    "type": "POST",
                    "dataType": "Json",
                    "data": { id: role.id, name: role.name, division_Id: role.division_Id }
                }).then((result) => {
                    debugger;
                    if (result.data != null) {
                        $("#myModal").modal("hide");
                        Swal.fire({
                            icon: 'success',
                            title: 'Data Saved',
                            text: 'Success'
                        }).then(() => {
                            $("#dataTable").DataTable().ajax.reload();
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'failed'
                        })
                    }
                })
            }

            function GetById(Id) {
                $.ajax({
                    "url": "/Roles/Details/" + Id,
                    "type": "GET",
                    "dataType": "json",
                    "data": { id: Id }
                }).then((result) => {
                    if (result.data != null) {
                        $("#RoleIdText").disabled = true;
                        $("#RoleIdText").val(result.data.id);
                        $("#RoleNameText").val(result.data.name);
                        $("#DivisionIdText").val(result.data.division_Id);
                        $("#myModal").modal('show');
                        $("#Update").show();
                        $("#Save").hide();
                    }
                })
            }

            function Save() {
                var role = new Object();
                role.name = $("#RoleNameText").val();
                role.priority = $("#PriorityNameText").val();
                $.ajax({
                    "url": "/Roles/Post",
                    "type": "POST",
                    "dataType": "json",
                    "data": role
                }).then((result) => {
                    if (result.data.statusCode == 200) {
                        Swal.fire(
                            'Suc!',
                            'Your file has been inserted.',
                            'success'
                        )
                    } else {
                        Swal.fire(
                            'Failed!',
                            'Your file not inserted.',
                            'failed'
                        )
                    }
                })
            }

            function Validation() {

                if ($("#RoleNameText").val() == "" || $("#RoleNameText").val() == " ") {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Please Fill The Name!',

                    })
                }
                else if ($("#RoleIdText").val() == "" || $("#RoleIdText").val() == " ") {
                    Save();
                }
                else {
                    Edit($("#RoleIdText").val());


                }
            }
        </script>
    }

