@{
    Layout = null;
}

<title>SB Admin 2 - Login</title>

<body class="bg-light>
    <div class=" container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-10 col-md-7">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <img src="~/images/UserManagementLogo.png" width="100" height="100" />
                                        <h3 class="h1 text-gray-900 mb-4">YORUSHIKA</h3>
                                        <h1 class="h6 text-black-50 mb-4">User Management Application</h1>
                                    </div>
                                    <form class="user">
                                        <div class="form-group" id="Message">
                                            <label for="Email">Email</label>
                                            <input type="text" class="form-control form-control-user" id="EmailText"/>
                                        </div>
                                        <div class="form-group" id="Message">
                                            <label for="Password">New Password</label>
                                            <input title="Passwords must have at least one non letter or digit character. Passwords must have at least one lowercase ('a'-'z'). Passwords must have at least one uppercase ('A'-'Z')." type="password" class="form-control form-control-user" id="PasswordText" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" 
                                             data-toggle="tooltip" data-placement="right"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="Password">Confirm Password</label>
                                            <input title="Please enter the same Password as above." type="password" class="form-control form-control-user" id="PasswordConfirmText" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" 
                                                   data-toggle="tooltip" data-placement="right"/>
                                        </div>
                                        <a onclick="ResetPassword()" class="btn btn-primary btn-user btn-block">
                                            <i style="color : white">Reset Password</i>
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<!-- Custom fonts for this template-->
<link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<!-- Custom styles for this template-->
<link href="~/css/sb-admin-2.min.css" rel="stylesheet">
<!-- Bootstrap core JavaScript-->
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="~/js/sb-admin-2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://kit.fontawesome.com/2248d5bdb1.js" crossorigin="anonymous"></script>
<script>
    $(function() {
        $('[data-toggle="tooltip"]').tooltip({
            trigger: 'focus'
        });
    })

    function ResetPassword() {
        debugger;
        var user = new Object();
        var pw1 = $("#PasswordText").val();
        var pw2 = $("#PasswordConfirmText").val();
        if (pw2 == pw1) {
            user.Email = $("#EmailText").val();
            user.PasswordHash = $("#PasswordText").val();
            var params = {};
            var url = window.location.pathname;
            //var parser = url.search;
            var read = url.split('/');
            for (var i = 0; i < read.length; i++) {
                var Token = read[i];
                params[Token[0]] = decodeURIComponent(Token[1]);
            }
            $.ajax({
                "url": "/Users/ForgotPassword/" + Token,
                "type": "Put",
                "dataType": "json",
                "data": { Email: user.Email, PasswordHash: user.PasswordHash }
            }).then((result) => {
                debugger;
                if (result != null) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success !',
                        text: 'Your Password Has Been Reset, Thank You !'
                    })
                    onclose: window.location.href = "@Url.Action("Login", "Users")"
                }
                })
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'failed'
            });
        }
    }
</script>