
@{
    Layout = null;
}

<title>SB Admin 2 - Login</title>

<body class="bg-light>
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-10 col-md-7">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <img src="~/images/UserManagementLogo.png" width="100" height="100" />
                                        <h3 class="h1 text-gray-900 mb-4">YORUSHIKA</h3>
                                        <h1 class="h6 text-black-50 mb-4">User Management Application</h1>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <label for="Username">Email</label>
                                            <input type="text" class="form-control form-control-user" id="UsernameText">
                                        </div>
                                        <div class="form-group">
                                            <label for="Password">Password</label>
                                            <input type="password" class="form-control form-control-user" id="PasswordText">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember Me</label>
                                            </div>
                                        </div>
                                        <a onclick="Login()" class="btn btn-primary btn-user btn-block">
                                            <i style="color : white">Login</i>
                                        </a>
                                    </form>
                                    <hr>
                                    <div class="text-justify">
                                        <button class="btn btn-warning" data-toggle="modal" data-target="#myModal">Forgot Password?</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                        <p class="mb-4">We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!</p>
                    </div>
                    <form class="user">
                        <div class="form-group">
                            <input type="email" class="form-control form-control-user" id="EmailText" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                        </div>
                        <a onclick="ForgotPassword()" class="btn btn-primary btn-user btn-block">
                            Reset Password
                        </a>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Custom fonts for this template-->
<link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<!-- Custom styles for this template-->
<link href="~/css/sb-admin-2.min.css" rel="stylesheet">
<!-- Bootstrap core JavaScript-->
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="~/js/sb-admin-2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://kit.fontawesome.com/2248d5bdb1.js" crossorigin="anonymous"></script>
<script>
        function Login() {
            debugger;
            var user = new Object();
            user.UserName = $("#UsernameText").val();
            user.PasswordHash = $("#PasswordText").val();
            $.ajax({
                "url": "/Users/Login/",
                "type": "Post",
                "dataType": "json",
                "data": { UserName: user.UserName, PasswordHash: user.PasswordHash }
            }).then((result) => {
                debugger;
                if (result.statusCode == 200) {
                    window.location.href = "/Roles/Index"
                }
                else if (result.statusCode == 300) {
                    window.location.href = "/LockedAccount/" + result.locktoken;
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'failed'

                    })
                }

            })
        }
        //function rememberMe() {
        //    document.cookie = "$("'UsernameText'"); expires = "

        //}
        function ForgotPassword() {
            debugger;
            var user = new Object();
            user.Email = $("#EmailText").val();
            $.ajax({
                "url": "/Users/GenerateResetPasswordToken",
                "type": "POST",
                "dataType": "json",
                "data": { Email: user.Email }
            }).then((result) => {
                debugger;
                if (result != null) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success !',
                        text:'Please Check Your Email ! Thank You !'
                    })
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'failed'
                    })
                }
            });
        }
</script>


